:root{
    --common-font:"Josefin Sans", sans-serif;
    --icon-color:#11161E;
    --cmn-clr:#FF6F61;
    --second-family: "Roboto", sans-serif;
    --footer-color:#11161E;
    --white-clr:#FFFFFF;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}
h1,h2,h3,h4,h5,h6,p,ul,ol,span{
    margin: 0;
    padding: 0;
}
body{
    font-family: var(--common-font);
    overflow-x: hidden;
}
html{
    font-size: 10px;
}

a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}

.primary-btn{
    background-color: var(--cmn-clr);
    color:#fff;
    padding:1.4rem 2.3rem;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 167%;
    text-align: center;
    display: inline-block;

}

body{
    position: relative;
}
.p_click{
    position: fixed;
    top: 50%;
}

.p_search{
    background-color: var(--footer-color);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5555;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
.p_search.p_active{
    opacity: 1;
    visibility: visible;
}
.p_search input{
    padding: 10px ;
    padding: 10px;
    width: 0px;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    border: 2px solid #FF6F61;
    background: transparent;
    color: #Fff;
    padding-left: 20px;
    transition: 0.5s;
}
.p_search input.p_inputt{
    width: 400px;
}
.p_search input::placeholder{
    color: #fff;
    /* padding-left: 1px; */
    font-size: 16px;
}
.p_search button{
   
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 14px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.p_search span{
    color: #fff;
    position: absolute;
    right: 30px;
    top: 30px;
    background-color: #FF6F61;
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    border-radius: 50%;
    transition: 0.5s;
    cursor: pointer;
}

.p_search span:hover{
    background-color: #fff;
    color: #FF6F61;
    transform: rotate(360deg);
}








/* NAV START */
nav{
    box-shadow: 3px 3px 40px #ff6e6126;
}
nav ul li{
    padding:0 2.2rem;
    display: inline-block;
}
nav{
    padding: 2rem 0 !important;
    width: 100vw;
}
nav .navbar-nav{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
nav ul li a{
    padding: 0 !important;
    display: inline-block;
}

nav .icons{
    display: flex;
    margin-bottom: 0 !important;
    padding-left:0 !important;
    font-size: 2.1rem;
}
nav .icons li{
    padding: 0 1rem;
}
nav .dropdown-toggle::after{
    display: none;
}
nav .icons li a{
    color: var(--icon-color) ;
    transition: 0.2s;
} 
nav .icons li a:hover{
    color: var(--cmn-clr);
}
nav .down-arrow{
    position: absolute;
    top: 0.2rem;
    right: 0.55rem;
}
nav .cart-count{
    position: relative;
}
nav .cart-count .count{
    background-color: var(--cmn-clr);
    color: #fff;
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    text-align: center;
    line-height: 1.8rem;
    border-radius: 50%;
    font-size: 1.4rem;
    position: absolute;
    top: -0.1rem;
    right:0.1rem;
}
nav .navbar-toggler{
    border: none !important;
    font-size: 1.8rem;
    color: var(--cmn-clr);
}
/* dropdown */
nav .shop-link{
    position: relative;
}
nav .sub-menu li{
    width: 100%;
    border-bottom: 1px solid #ccc;
}
nav .sub-menu{
    z-index: 11;
    position: absolute;
    left:0;
    top: 14rem;
    width: 23rem;
    box-shadow: 0.3rem 0.3rem 3rem #ccc;
    background-color: #FFF;
    opacity: 0;
    visibility: hidden;
    padding: 0 !important;
    max-height: 0;
    overflow: hidden;
}
nav .shop-link li:last-child{
    border-bottom: 0.5rem solid #FF6F61;
}
nav .shop-link:hover .sub-menu{
    top: 2.5rem;
    opacity: 1;
    visibility: visible;
    transition: 0.3s;
    max-height: 1000px;
}

nav .sub-menu li {
    padding:1.5rem 1.5rem 1.5rem 4rem;
    font-weight:300;
    transition: 0.5s;
    display: flex;
    align-items: center;
    position: relative;
} 

nav .sub-menu li::before{
    content: '';
    position: absolute;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 0.01rem solid #FF6F61;
    left: 1.01rem;
    z-index: 5;
}
nav .sub-menu li::after{
    content: '';
    position: absolute;
    border-radius: 50%;
    left: 1.521rem;
    width: 1rem;
    height: 1rem;
    background-color: #FF6F61;
    z-index: 5;
}
nav .sub-menu li a::after{
    content: '';
    position: absolute;
    z-index: 4;
    width: 0.01rem;
    height: 100%;
    top: 0;
    left: 1.9rem;
    border: 0.01px solid #ff6e61a9 ;
}
nav .sub-menu li:first-child a::after{
    height: 50%;
    top: 50%;
}
nav .sub-menu li:last-child a::after{
    height: 50%;
    bottom: 50%;
}
nav .sub-menu li:hover{
    background-color: var(--cmn-clr);
    color: #000;

}
nav .sub-menu li:hover::before{
    border: 0.01rem solid #fff;
}

nav .sub-menu li:hover::after{
   background: #fff;
}
nav .sub-menu li:hover a{
   color: #fff;
}
nav .sub-menu li a{
    color: #000;
    font-size: 2.3rem;
}
nav .navbar-nav li a{
    transition: 0.2s;
}
#navbarSupportedContent ul li .nav-link:hover {
    color: var(--cmn-clr);
}

/* Dropdown end */

.offcanvas-body .dropdown-menu li:hover a {
    color: #fff;
}
.offcanvas-body ul li{
   text-align: left;
   margin-bottom: 2.5rem;
   font-weight: 40rem;
   font-size: 2.1rem;
   transition: 0.3s;
   color:#000;
}
nav .nav-link{
    font-size: 1.8rem;
}

 nav ul .bag li a i{
  color: #000;

}
nav .nav-item .submenu li:hover a {

    color: #000;
}

.offcanvas-body .dropdown-menu{
    padding:0;
    width: 100%;
    border: none;
    border-radius: none;
    box-shadow: 0.3px 0.3px 3rem #ccc;
}

.offcanvas-body .dropdown-menu .dropdown-item{
    font-weight: 400;
    padding: 1.5rem;
}

.offcanvas-body .nav-item ul li{
    margin-bottom: 0;
    border-bottom: 0.1rem solid #ccc;  
}
.offcanvas-body .nav-item ul li a{
    padding:1rem  0;
    transition: 0.6s;
}
.offcanvas-body .nav-item ul li a:hover{
    background-color: #FF6F61;
}
.offcanvas-body li{
    list-style-type: none;
}
.offcanvas-body{
    position: relative;
    padding:2rem;
    background-color: #FFFFFF;
    margin: 0 !important;
}
.offcanvas-body span{
    position: absolute;
    right: 2%;
    top: 0;
    transition: .3s;
}
.offcanvas-header .btn-close {
    font-size: 22px;
    border: none;
    outline: none;
}

.offcanvas-body .nav-item{
    margin-bottom: 0;
}
 .offcanvas-body .dropdown-toggle::after{
    display: none;
}



/* NAV END */
/* Search */
.search-box{
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
.search-box.active_search{
    opacity: 1;
    visibility: visible;
}
.search-box input{
    border: none;
    outline: none;
    width: 0px;
    padding: 1rem 3rem;
    border-radius: 5rem;
    background-color: transparent;
    border: 0.2rem solid var(--cmn-clr);
    color: #fff;
    transition: 0.5s;
    font-size: 1.8rem;
}
.search-box span{
    font-size: 1.8rem;
}
.search-box input.active_input{
    width: 50rem;
}
.search-box input::placeholder{
    color: #fff;
}
.search-box  .test{
    position: relative;
}
.search-box  button{
    border: none;
    outline: none;
    position: absolute;
    right: 2rem;
    background-color: transparent;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
}
.search-box .cross-btn{
    width: 6rem;
    height: 6rem;
    background-color: transparent;
    border: 0.2rem solid var(--cmn-clr);
    color: #fff;
    text-align: center;
    line-height: 6.5rem;
    font-size: 2.5rem;
    border-radius: 50%;
    position: absolute;
    right: 3rem;
    top: 3rem;
    transition: 0.5s;
}
.search-box .cross-btn:hover{
    background-color: var(--cmn-clr);
    transform: rotate(360deg);
    cursor: pointer;
}
.btn-close{
    --bs-btn-close-bg: url('../img/download-svg.png');
    box-shadow: none !important;
    opacity: 1;
}

/* Search End */



/* BANNER START */
#hero .child_slider{
    height: 60rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    object-fit: cover;
}
#hero .slick-list .slick-active h4{
    transform: translateY(0);
    transition: 0.5s ease;
    transition-delay: 0.2s;
    opacity: 1;
 }
#hero .slick-list .slick-active h1{
   transform: translateY(0);
   transition: 0.5s ease;
   transition-delay: 0.4s;
   opacity: 1;
}
#hero .slick-list .slick-active p{
   transform: translateY(0);
   transition: 0.5s ease;
   transition-delay: 0.6s;
   opacity: 1;
}

#hero .child_slider .container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content : center;
    justify-content: center;
}
#hero .child_slider h4{
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 156%;
    color: #1d1d1d;
    transform: translateY(100%);
    opacity: 0;
}
#hero .child_slider h1{
    font-weight: 700;
    font-size: 6.4rem;
    line-height: 116%;
    color: #1d1d1d;
    transform: translateY(100%);
    opacity: 0;
}
#hero .child_slider p{
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 175%;
    color: #1d1d1d;
    max-width: 48.6rem;
    transform: translateY(100%);
    opacity: 0;
}
#hero .child_slider button{
   border: none;
   margin-top: 2rem;
}
#hero .bannerDots{
    position: absolute;
   left: 50%;
   top: 75%;
   transform: translateX(-50%);
   display: flex;
}
#hero .bannerDots .slick-active button{
    background-color: #FF6F61;
    width: 3rem;
}
#hero .bannerDots button{
    background-color: #FFF;
    width: 2rem;
    height: 0.8rem;
    color: transparent;
    border: none;
    border-radius: 1rem;
    margin: 0 0.5rem;
}

/* BANNER END  */
/* footer */
.footer{
    background-color: var(--footer-color);
}
.footer .icons a{
    width: 3rem;
    height: 3rem;
    background-color:#fff ; 
    display: inline-block;
    text-align: center;
    line-height: 3.5rem;
    font-size: 2rem;
    color: #444444;
    margin-right: 0.5rem;
    transition: .4s;
}
.footer .icons a:hover{
    background-color: var(--cmn-clr);
    color: #fff;
}
.footerFirst{
    padding:8rem 0 7.6rem;
} 

.footerSec{
    padding-bottom: 7rem;
}
   
.footerSec h2{
    color: #fff;
    padding-bottom: 2.2rem;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 142%;
}
.footerSec .list li{
    color: #fff;
    transition: 0.3s;
}
.footerSec .list li a{
    transition: 0.4s;
    display: inline-block;
    color: #fff;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 175%;  
}

.footerSec .list li a:hover{
    color: var(--cmn-clr);
}
.footerSec .list li span{
    margin-right: 1rem;
}
footer .btn-group{
    width: 100%;
}
footer .btn-group input{
    border-radius: 0;
    padding: 0;
    font-size: 2rem;
    /* width: 19.8rem; */
    border: none;
}
footer .btn-group input::placeholder{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 175%;
    color: #8f8f8f;
}
footer .btn-group button{
    padding: 0.5rem;
    border: none;
    background-color: var(--cmn-clr);
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 167%;
    text-align: center;
    color:var(--white-clr);
}
footer table tr td{
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 175%;
}
footer p{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 175%;
    color: var(--white-clr);
    margin-bottom: 2.3rem;
}
footer .icon span{
    color: var(--cmn-clr);
    font-size:1.9rem;
}
footer .footerThird{
    background-color: #444444;
    text-align: center;
    padding: 2.1rem 0;
}
footer .footerThird p{
    margin: 0;
}
@media (max-width: 991.98px){
    .footerFirst .first{
       text-align: left ;
    }
    .footerFirst img{
        display: flex;
        justify-content: flex-start;
    } 
    .footerSec .second{
        margin-bottom: 5rem;
    }
    .top_card .test{
        border-right: none;
    }
    #product .third img{
        padding: 0 !important;
    }  
}

/* footer ends */

/* product */

#product .product_card{
    position: relative;
}
#product .product_card .overlay{
    position: absolute;
    background-color: hsla(215, 28%, 12%, 0.4);
    color: var(--white-clr);
    inset: 2rem ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.7s;
    transform-origin: left top;
    transform: scale(0) rotate(0deg) skew(50deg);
}
#product .product_card:hover .overlay{
    opacity: 1;
    transform-origin: right bottom;
    transform: scale(1) rotate(0deg) skew(0deg);
}
#product h2{
    margin-top:2rem;
    font-weight: 700;
    font-size: 3rem;
    line-height: 133%;
    text-align: center;
}
#product h4{
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 175%;
    text-align: center;
}
#product h4 a{
    color: var(--white-clr);    
    display: inline-block; 
}

#product .third img{
    height: 100%;
    object-fit: cover;
}
#product .product_test{
    margin: 0 !important;
}
/* arrival */
#arrival{
    padding: 100px 0;
}
#arrival h2{
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 128%;
    text-align: center;
    color: var(--icon-color);
}
#arrival .single_arrival .arrival_img{
    position: relative;
    overflow: hidden;
}
#arrival .single_arrival img:first-child{
    position: absolute;
    height: 100%;
    transform: scale(1);
    transition: 0.3s;
    
}
#arrival .single_arrival:hover img:first-child{
    transform: scale(2);
    opacity: 0;
}
#arrival .single_arrival{
    padding: 0 5px;
    text-align: center;
    overflow: hidden;
    position: relative;
    position: relative;
    cursor: pointer;
}
#arrival .single_arrival img{
    height: 100%;
}
#arrival .single_arrival .price{
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 162%;
    color: var(--paragraph-color);
}
#arrival .single_arrival h4{
    font-weight: 600;
    font-size: 18px;
    line-height: 156%;
    text-align: center;
    color: var(--text-color);
}
#arrival .single_arrival .reating span{
  color: var(--cmn-clr);
  width: 1.2rem;
  height: 1rem;
}
#arrival .arrival_contains{
    padding: 15px 0;
}

#arrival .single_arrival .arrival_discount{
    position: absolute;
    width: 52px;
    height: 26px;
    background-color: var(--cmn-clr);
    line-height: 26px;
    z-index: 55;
    top: 12px;
    transform: rotate(-90deg) !important;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}
#arrival .single_arrival .arrival_discount span{
     font-size: 1.4rem;
     color: var(--white-clr);
     transform: translateX(10px);
     text-align: center ;
     line-height: 30px;
}
#arrival .list_tool{
    position: absolute;
    right: 1rem;
    top: 2.5rem;
}

#arrival .list_tool ul li span {
    width: 3.6rem;
    height: 3.6rem;
    display: inline-block;
    /* border: 1px solid red; */
    text-align: center;
    line-height: 3.6rem;
    border-radius: 50%;
    margin: 5px 0;
    background-color: var(--white-clr);
    color: var(--cmn-clr);
    font-size: 1.4rem;
}
#arrival .list_tool ul li {
    color: white;
    transform: translateX(-30px);
    transition: 0.3s;
    transition-duration: 0.4s;
    opacity: 0;
    
}
      
#arrival .single_arrival .list_tool ul li:nth-child(2){
    transition-delay: 0.1s;
}
#arrival .single_arrival .list_tool ul li:nth-child(3){
    transition-delay: 0.2s;
}
#arrival .single_arrival .list_tool ul li:nth-child(3){
    transition-delay: 0.3s;
}
#arrival .single_arrival .list_tool ul li:nth-child(4){
    transition-delay: 0.4s;
}
#arrival .single_arrival:hover .list_tool ul li{
    transform: translateX(0);
    opacity: 1;
}

.custom-tooltip {
    --bs-tooltip-bg: var(--cmn-clr) !important;
}



#timer .counter_wrapper ul {
    background-color: #fff;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
    box-shadow: 0 0 10px 0 rgba(21, 26, 50, 0.1);
}
#timer .counter_wrapper ul li{
    margin: 0 10px;
    display: inline-block;
    position: relative;
    padding: 7px 0;
    margin: 0 20px;
}
#timer .counter_wrapper ul li span{
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    text-align: center;
}
#timer .counter_wrapper ul .single_counter::after{
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #FF6F61;
    right: -25px;
    top: 29px;
    border-radius: 50%;
}
#timer .counter_wrapper ul .single_counter::before{
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #FF6F61;
    right: -25px;
    bottom: 25px;
    border-radius: 50%;
}

#timer .shadow_test{
    box-shadow: 0 0 70px 0 rgba(21, 26, 50, 0.08);
}

#timer .counter_wrapper{
    transform:  translateY(-50%);
}
#timer .counter_wrapper ul  li h2{
    font-weight: 700;
    font-size: 24px;
    line-height: 142%;
}

#timer  .sub_sub_child{
    margin: 0 12px;
    background-color: #A6AAB7;
}
